body {
  margin: 0;
}

.stickyfade {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.carousel-caption {
  padding-bottom: 400px;
}

.about {
  padding: 150px;
}
.nav-item {
  color: black !important;
}

.newsletter-input {
  width: 70%;
  height: 60px;
  border: 1px solid #a7671d;
  border-radius: 50px;
  background: none;
  padding: 0 25px;
}

.newsletter-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 46px;
  border-radius: 50px;
  background-color: #38f9d7;
  margin-top: 10px;
}

.btn-default {
  background: rgb(16, 156, 167);
  color: #fff;
  font-weight: 600;
}

.form-control {
  border: 1px solid #a7671d;
}
.contact-form {
  margin-left: 30%;
  margin-top: 10px;
  padding-top: 10px;
}
.footer-icon {
  padding-left: 10px;
  padding-bottom: 10px;
  color: lightgrey;
}
.footer-icon:hover {
  color: blueviolet;
}
