body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 700px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding: 0 250px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0px 20px 20px 20px;
  border: 1px solid #888;
  position: fixed;
  top: 0;
  width: 80%;
  height: 95vh;
  overflow-y: auto;
  line-height: 150%;
}

#modal {
  background-color: #f7f7f7;
  color: black;
}

/* The Close Button */
.close {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
}

#close {
  color: rgb(241, 43, 43, 5.7);

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  background-color: whitesmoke;
  margin: 2% 10% 2% 10%;
  padding-bottom: 2%;
  padding-top: 2%;
  box-shadow: 1px 1px 10vmin 1px gray;
}

.wrapper {
  background-color: white;
}

#quiz {
  width: 60%;
  margin: 2% 0% 2% 20%;
}

.form-check {
  margin-bottom: 7px;
}

button{
  background-color: #08b8e4;
  width: 100px;
  border: none;
  height: 30px;
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke;
}
.questions-container{
    padding-top: 50px;
}
.back-button{
  text-align: center;
  margin-bottom: 70px;
}